@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .tiptap > * + * {
    margin-top: 0.75em;
  }

  .tiptap h1,
  .tiptap h2,
  .tiptap h3,
  .tiptap h4,
  .tiptap h5,
  .tiptap h6 {
    line-height: 1.1;
  }
  
  html::selection {
    background-color: var(--primary);
    color: var(--primary-foreground);
  }

  /* TODO: put some important declarations here */
  /* select color, background color, text color, outline color, etc. */
   .page {
    --linkedIn: #0a66c2;
    --linkedIn-hover: rgba(112,181,249,0.2);
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    
    --radius: 0.5rem;

    --spacing-1_5: 0.37rem;
    --spacing-2: 0.5rem;
    --spacing-2_5: 0.625rem;
    --spacing-3: 0.75rem;
    --spacing-3_5: 0.875rem;
    --spacing-4: 1rem;
    --spacing-5: 1.25rem;
    --spacing-6: 1.5rem;
    --spacing-10: 2.5rem;

    --text-xs: 0.75rem;
    --text-sm: 0.85rem;
    --text-base: 1rem;
    --text-lg: 1.13rem;

    --max-w-sm: 24rem;
  }

  .linkedIn {
    --radius: 0.8rem;

    --spacing-1_5: 0.6rem;
    --spacing-2: 0.8rem;
    --spacing-2_5: 1rem;
    --spacing-3: 1.2rem;
    --spacing-3_5: 1.4rem;
    --spacing-4: 1.6rem;
    --spacing-5: 2rem;
    --spacing-6: 2.4rem;
    --spacing-10: 4rem;

    --text-xs: 1.2rem;
    --text-sm: 1.4rem;
    --text-base: 1.6rem;
    --text-lg: 2rem;
    
    --max-w-sm: 38.4rem;
  }
}