@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #__next {
    @apply h-full;
  }
  html {
    @apply overflow-hidden;
  }
  #__description {
    @apply text-muted-foreground;
  }
  #__description p strong {
    @apply text-muted-foreground;
  }
  #__description h2,#__description h3 {
    @apply text-base font-bold mb-3 text-muted-foreground;
  }
  #__description p {
    @apply mb-2;
  }
  #__description ul {
    @apply ml-6 list-disc;
  }

  .accordion[data-state='open'] .open-icon {
    @apply hidden;
  }

  .accordion[data-state='closed'] .close-icon {
    @apply hidden;
  }
}

@layer components {
  .landing-page {
    position: relative;
      width: 100%;
      background: 
        linear-gradient(to bottom, hsl(var(--muted)) 0%, hsl(var(--muted)) 100%),
        linear-gradient(to bottom, hsl(var(--muted)) 0%, hsl(var(--muted)) 100%),
        linear-gradient(to bottom, hsl(var(--muted)) 0%, hsl(var(--muted)) 100%),
        linear-gradient(to bottom, hsl(var(--muted)) 0%, hsl(var(--muted)) 100%),
        linear-gradient(to bottom, hsl(var(--muted)) 0%, hsl(var(--muted)) 100%);
      background-size: 1px 100%, 1px 100%, 1px 100%, 1px 100%, 1px 100%;
      background-position: 2%, 25%, 50%, 75%, 98%;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-family: Arial, sans-serif;
  }
}